<div class="container">
    <br><br>
    <h2 style="font-weight: bold;">{{courseInfo.courseName
    }}</h2><br>

    <div>
        <h4>Course Info</h4>
        <div class="row">
            <div class="col-2">
                Code : {{courseInfo.Course_Code}}
            </div>
            <div class="col-2">
                Title : {{courseInfo.courseName}}
            </div>
            <div class="col-2">
                Semester : {{courseInfo.Semester}}
            </div>
            <div class="col-2">
                Level : {{courseInfo.Level}}
            </div>
            <div class="col-2">
                Year : {{courseInfo.Year}}
            </div>
        </div>
        <div class="row">
            <div class="col-1" >
                TA: 
            </div>
            <div class="col-2" *ngFor="let ta of TAs">
                {{ta.TAName}}
            </div>
            <!-- <div class="col-2">
                TA2
            </div>
            <div class="col-2">
                TA3
            </div> -->
        </div>
    
        <p>_________________________________________________________________________________________________________________________________________________________________________________________________</p>
    </div>

    <div class="row">
        <div class="col-4"><button class="btn btn-primary" style="width:420px; border:none; background-color: #3E8DE3; color:white;" 
            (click)="navigateToAddGrades()">Add Grades</button>
        </div>
        <div class="col-4"><button class="btn btn-primary" style="width:420px; border:none; background-color: #F0F0F0; color:#ABABAB;"
            (click)="navigateToSeeFeedbacks()">View Feedbacks</button>
        </div>
        <div class="col-4"><button class="btn btn-primary" style="width:420px; border:none; background-color: #3E8DE3; color:white;" 
            (click)="navigateToViewStudents()">View Students</button>
        </div>
    </div>

    <br><br>

    <section>
        <h3 style="text-align: center; font-weight: bold;"> Statistics </h3>
        <div class="row">
            <div class="col-3" style="padding: 5px;">
                <div class="stat_card">
                    <h5>Number of Enrolled Students</h5>
                    <div style="font-size:22px;">{{courseStat[0].num_students_registered}}</div>
                </div>
                <div class="stat_card">
                    <h5>Average Grades</h5>
                    <div style="font-size:22px;">{{AvgGrades[0].avg_grade}}</div>
                </div>
                <!-- <div class="stat_card">
                    <h5>Number of Enrolled Students in S1</h5>
                    <div style="font-size:22px;">36</div>
                </div>
                <div class="stat_card">
                    <h5>Number of Enrolled Students in S2</h5>
                    <div style="font-size:22px;">40</div>
                </div> -->
            </div>
            <div class="col-4" style="padding: 5px;">
                <div class="stat_card">
                    <h5>Success Percentage</h5>
                    <div id="pie_chart"></div>
                </div>
            </div>
            <div class="col-5" style="padding: 5px;">
                <div class="stat_card">
                    <h5>Grades Histogram</h5>
                    <div id="histogram"></div>
                </div>
            </div>
        </div>
    </section>
</div>