<div class="container">
    <br><br>
    <h2 style="font-weight: bold;">Course Title</h2><br>

    <div>
        <h4>Course Info</h4>
        <p>Code &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Title
        <br>
        Semester &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Level 
        <br>
        TA: XX, YY, ZZ
        <br>
        Sections: S1,S2 at Sunday 2nd slot 
        <br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; S3 at Monday 4th slot
        <br>
        ___________________________________________________________________________________________________________________________________________________________________________________________________</p>
    </div>

    <div class="row">
        <div class="col-4"><button class="btn btn-primary" style="width:420px; border:none; background-color: #3E8DE3; color:white;" 
            (click)="navigateToAddGrades()">Add Grades</button>
        </div>
        <div class="col-4"><button class="btn btn-primary" style="width:420px; border:none; background-color: #F0F0F0; color:#ABABAB;"
            (click)="navigateToSeeFeedbacks()">See Feedbacks</button>
        </div>
        <div class="col-4"><button class="btn btn-primary" style="width:420px; border:none; background-color: #3E8DE3; color:white;" 
            (click)="navigateToViewStudents()">View Students</button>
        </div>
    </div>

    <br><br>

    <div>
        <h3 style="text-align: center;"> Statistics </h3>
    </div>
</div>