
<div class="container">
  <br><br>
  <div class="breadcrumb">
    <a  (click)="navigateToHome()" class="navigate">Home </a>
    <a  (click)="navigateToScheduale()" class="navigate"> / My Schedule</a>
    <p > / Course Schedule</p>
 </div>
    <div class="w-95 w-md-75 w-lg-60 w-xl-55 mx-auto mb-6">
        <!-- <div class="subtitle alt-font"><span class="text-primary">#04</span><span class="title">Timetable</span></div> -->
        <h1  style="margin-top: 50px; margin-bottom: 30px; font-weight: bolder;">Course Schedule</h1>
    </div>
    <select required #course (change)="update(course.value)"  class="form-select " 
    aria-label="Default select example">
        <option value="default">choose  Course</option>
        <option *ngFor="let Course of myCourses" [value]="Course.courseID">
            {{Course.courseName}}
        </option>
    </select> <br>
    <!-- {{array}} -->
    <div class="row">
        <div class="col-md-18">
          
         
            <div class="schedule-table"  id="printable-table">
              <!-- <div class="schedule-table"  id="printable-table" style="display:none"></div> -->
                <table class="table">
                    <thead>
                      <tr>
                        <th>Weekday</th>
                        <th>8:00-9:30</th>
                        <th>9:30-10:45</th>
                        <th>11:15-12:30</th>
                        <th>12:45-2:00</th>
                        <th>2:30-3:45</th>
                        <th>4:15-5:30</th>
                        <th>6:00-7:15</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let weekday of weekdays">
                        <td class="day">{{weekday}}</td>
                        <td class="active" *ngFor="let time of times">
                          <h4></h4>
                          <div *ngFor="let slot of array">
                            <p *ngIf="slot.slotday === weekday && slot.startTime === time">{{slot.CourseName}}</p>
                            <p *ngIf="slot.slotday === weekday && slot.startTime === time">{{slot.slotName}}</p>
                            <p *ngIf="slot.slotday === weekday && slot.startTime === time">{{slot.slotPlace}}</p>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>

            </div>
        </div>
    </div>
</div>