
<h1 >Schedules & Bylaw</h1>
<div class="General" style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande','Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
    <p style="  font-weight:500;">General Program</p>
    <div class="parent" >
        <a  (click)="downloadFile('General Schedule.pdf')" class="child" >
            <i class="bi bi-download" style="font-size:5rem ; color: white;"></i>
            <a   (click)="downloadFile('General Schedule.pdf')" class="Ann" >Arabic Schedule</a>
            <!-- <button (click)="downloadFile('General Schedule')">Download File</button> -->
        </a>
        <a href="#" class="child" style="margin-left: 60px;" >
            <i class="bi bi-download" style="font-size:5rem ; color: white;"></i>
            <a class="Ann" >English Schedule</a>
        </a>
        <a href="#" class="child" style="margin-left: 60px;">
            <i class="bi bi-download" style="font-size:5rem ; color: white;"></i>
            <a class="Ann" >Course Schedule</a>
        </a>
        <a href="#" class="child" style="margin-left: 60px;" >
            <i class="bi bi-download" style="font-size:5rem ; color: white;"></i>
            <a class="Ann" >Halls Schedule</a>
        </a>
       
    </div>
</div>
<div class="Special" style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
    <p style=" font-weight:500;">Special Program</p>
    <div class="parent" >
        <a href="#" class="child" >
            <i class="bi bi-download" style="font-size:5rem ; color: white;"></i>
            <a class="Ann" >Arabic Schedule</a>
        </a>
        <a href="#" class="child" style="margin-left: 60px;" >
            <i class="bi bi-download" style="font-size:5rem ; color: white;"></i>
            <a class="Ann" >English Schedule</a>
        </a>
        <a href="#" class="child" style="margin-left: 60px;">
            <i class="bi bi-download" style="font-size:5rem ; color: white;"></i>
            <a class="Ann" >Course Schedule</a>
        </a>
        <a href="#" class="child" style="margin-left: 60px;" >
            <i class="bi bi-download" style="font-size:5rem ; color: white;"></i>
            <a class="Ann" >Halls Schedule</a>
        </a>
       
    </div>
</div>
<div class="Bylaw" style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
    <p style="font-weight:500;">Bylaw</p>
    <div class="parent" >
        <a href="#" class="child" >
            
            <i class="bi bi-download" style="font-size:5rem ; color: white;"></i>
            <a class="Ann" style="margin-left: 40px;">Bylaw</a>
        </a>

       
    </div>
</div>

