<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Document</title> -->
    <script>
        $(function(){
        $('#datepicker').datepicker();
        });
    </script>
</head>
<body>
    <div class="breadcrumb">
        <a  (click)="navigateToHome()" class="navigate">Home </a>
        <p > /Student Profile</p>
     </div>
    <h1 style="margin-top: 50px; margin-bottom: 30px; font-weight: bolder; display: inline-block;">Profile</h1>
    <button (click)="navigateToStudentGrades()" class="btn btn-primary button" style="display: inline-block; margin-left: 965px;">View Student Grades</button>
<form action="/action_page.php"  class="form">
    <label >ID</label><br>
    <input type="text" id="id" name="id" value={{StudentData.studentId}} class="disabled" disabled><br><br>

    
    <label >Name</label><br>
    <input type="text" id="EName" name="EName" value={{StudentData.studentName}} class="disabled" disabled  ><br><br>

    <label >Status</label><br>
    <input type="text" id="Status" name="Status" value={{StudentData.Status}} class="disabled"disabled><br><br>

    <label >Level</label><br>
    <input type="text" id="Level" name="Level" value={{StudentData.level}} class="disabled"disabled><br><br>

    <label >Bylaw</label><br>
    <input type="text" id="Bylaw" name="Bylaw" value={{StudentData.bylaw}} class="disabled"disabled><br><br>
    
    <label >Program</label><br>
    <input type="text" id="Program" name="Program" value={{StudentData.departmentCode}} class="disabled"disabled><br><br>
    
    <label >Address</label><br>
    <input type="text" id="Address" name="Address" value={{StudentData.address}} class="disabled" disabled ><br><br>
    
    <label >Phone</label><br>
    <input type="text" id="Phone" name="Phone" value={{StudentData.phone}} class="disabled" disabled><br><br>
    
    <label >Mobile</label><br>
    <input type="text" id="Mobile" name="Mobile" value={{StudentData.mobile}} class="disabled" disabled ><br><br>

    <label >Entry Year</label><br>
    <input type="text" id="Entry Year" name="Entry Year" value={{StudentData.Entry_year}} disabled><br><br>

    <label >Email</label><br>
    <input type="text" id="Email" name="Email" value={{StudentData.email}} class="disabled" disabled ><br><br>

    <label >GPA</label><br>
    <input type="text" id="GPA" name="GPA" value={{StudentData.GPA}} disabled><br><br>

    <label >Total</label><br>
    <input type="text" id="total" name="total grade" value={{StudentData.total_grades}} disabled ><br><br>
    
    <label >Gender</label><br>
    <input type="text" id="gender" name="gender" value={{StudentData.gender}} disabled><br><br>
    
    


    <label >First Language </label><br>
    <input type="text" id="First Language" name="First Language"  value={{StudentData.first_language}} class="disabled" disabled><br><br>

    <label >Second Language</label><br>
    <input type="text" id="Second Language" name="Second Language"  value={{StudentData.second_language}} class="disabled" disabled><br><br>

   
    <label >Nationlity</label><br>
    <input type="text" id="Nationlity" name="Nationlity"   value={{StudentData.nationality}} class="disabled" disabled><br><br>

    <label >Birth Place</label><br>
    <input type="text" id="Birth Place" name="Birth Place"   value={{StudentData.birth_place}} class="disabled" disabled><br><br>
   
    <label >Birth Date</label><br>
    <input type="date" id="data" name="birthday" value={{StudentData.birthdate}} class="disabled" disabled><br><br>

    <label >Country</label><br>
    <input type="text" id="Country" name="Country" class="disabled"  value={{StudentData.country}} disabled><br><br>

    <label >Compulsory Hours</label><br>
    <input type="text" id="compulsoryHours" name="compulsoryHours"   value={{StudentData.Compulsory_Hours}}  class="disabled"disabled><br><br>
    
    <label >Elective Hours</label><br>
    <input type="text" id="electiveHours" name="electiveHours"   value={{StudentData.electrive_hours}} class="disabled" disabled><br><br>
    
   
   
    
  </form>

</body>
</html>


