
<p style="font-weight:bolder;margin-left:20px;margin-top:50px; font-size: xx-large;">Welcome to FCAI Community</p>
<div class="container" >
    <div class="General" style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; ">
        <div class="parent" >
            <a (click)="navigateToAddAnnouncment()" class="child" >
                <i class="bi bi-chat-left-text-fill" style="font-size:7rem ; color: white; margin-left: 5px;"></i>
                <a class="Ann" (click)="navigateToAddAnnouncment()" style="margin-left: 7px;" >Add Announcment</a>
            </a>
            <a (click)="navigateToDashboards()" class="child" style="margin-left: 60px;">
                <i class="bi bi-bar-chart-line-fill" style="font-size:7rem ; color: white;"></i>
                <a class="Ann" (click)="navigateToDashboards()" >Dashboards</a>
            </a>
        </div>
    </div>
    <div class="Special" style="margin-bottom: 60px;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; " >
        <div class="parent" style="margin-bottom: 60px;">
            <a (click)="navigateToOptions()" class="child" >
                <i class="bi bi-gear-fill" style="font-size:7rem ; color: white;"></i>
                <a class="Ann" style="margin-left: 12px;" (click)="navigateToOptions()" > Admin Options</a>
            </a>
            <a (click)="navigateToAcceptedGP()" class="child" style="margin-left: 60px;" >
                <i class="bi bi-card-text" style="font-size:7rem ; color: white;"></i>
                <a class="Ann" (click)="navigateToAcceptedGP()" > Accepted Graduation Projects</a>
            </a>
        </div>
    </div>
</div>