<div class="container">
  <br>
  <div class="breadcrumb">
    <a  (click)="navigateToHome()" class="navigate" style="cursor: pointer;">Home </a>
   
    <p > / My Schedule</p>
 </div>
    <div class="row">
      <div class="col-4">
          <!-- <div class="subtitle alt-font"><span class="text-primary">#04</span><span class="title">Timetable</span></div> -->
          <h1  style="margin-top: 30px; margin-bottom: 50px; font-weight: bolder;">My Schedule</h1>
          
      </div>
      <div class="col-4">
            <button class="btn btn-primary" 
            style="width:300px ; border:none; background-color: #3E8DE3; color:white;margin-top: 40px; margin-bottom: 20px;" 
            (click)="navigateToPlaceSchedule()">Place Schedule</button>
    </div>

      <div class="col-4">
          <button class="btn btn-primary" 
          style="width:300px ; border:none; background-color: #3E8DE3; color:white;margin-top: 40px; margin-bottom: 20px;" 
          (click)="navigateToCourseSchedule()">Course Schedule</button>
      </div>
      
  </div>
    
    <div class="row">
        <div class="col-md-18">
            <div class="schedule-table">
                <table class="table">
                    <thead>
                      <tr>
                        <th>Weekday</th>
                        <th>8:00-9:30</th>
                        <th>9:30-10:45</th>
                        <th>11:15-12:30</th>
                        <th>12:45-2:00</th>
                        <th>2:30-3:45</th>
                        <th>4:15-5:30</th>
                        <th>6:00-7:15</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let weekday of weekdays">
                        <td class="day">{{weekday}}</td>
                        <td class="active" *ngFor="let time of times">
                          <h4></h4>
                          <div *ngFor="let slot of array">
                            <p *ngIf="slot.slotday === weekday && slot.startTime === time">{{slot.CourseName}}</p>
                            <p *ngIf="slot.slotday === weekday && slot.startTime === time">{{slot.slotName}}</p>
                            <p *ngIf="slot.slotday === weekday && slot.startTime === time">{{slot.slotPlace}}</p>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>