<!-- 
<div class="container">
   <br><br>
  <div class="breadcrumb">
    <a  (click)="navigateToHome()" class="navigate">Home </a>
    <p > / Add Announcement</p>
 </div>

  <br>
 
  <h2 style="font-weight: bold;">Add Announcement</h2><br>
  <div class="alert alert-success" *ngIf="flag===true">
    Announcement saved successfully!
  </div>
  <div class="alert alert-danger" *ngIf="flag===false">
    Error saving announcement
  </div>

<form (submit)="saveAnnouncement()">
  <div class="form-group col-md-12">
    <h5>Add Announcement Title:</h5>
    <input type="text" [(ngModel)]="AnnTitle" name="AnnTitle" class="form-control" required>
  </div>
  <br>
  <h5>Add Announcement Body:</h5>
    <editor [init]="editorConfig"></editor><br>
    <button type="submit" name="submit" class="btn btn-primary">Save</button>
  </form>
</div> -->