<div class="container">
    <br><br>
    <h2 style="font-weight: bold;">View Feedbacks</h2><br>

    <div class="row" style="margin-bottom: 20px;">
        <div class="col-6">

            <div id="c_chart"></div>

        </div>
        <div *ngIf="userTypeValue === 'Professor'" class="col-6">

            <div id="p_chart"></div>

        </div>
        <div *ngIf="userTypeValue === 'TA'" class="col-6">
           
            <div [id]="TAId"></div>

        </div>
    </div>
    <div class="row" style="margin-bottom: 50px;" *ngIf="userTypeValue === 'Professor'">
       <div  *ngFor="let id of TAsIds"  class="col-6">
        <div [id]="id"></div>
       </div>

       
    </div>
</div>