<div class="container">
    <br><br>
    <div class="breadcrumb">
        <a  (click)="navigateToHome()" class="navigate">Home </a>
        <a  (click)="navigateToMyCourses()" class="navigate"> / My Courses</a>
        <a  (click)="navigateToCourseInfo()" class="navigate"> / Course Information</a>
        
        <p > / View Feedbacks</p>
     </div>
    <h2 style="font-weight: bold;">View Feedbacks</h2><br>
    <div class="col-2">
               
        <select #Year (click)="update(Year.value)"  style="width:300px; height:30px;" >
            <option  value="" disabled selected  >Year</option>
            <option *ngFor="let year of Years" [value]="year.Year">{{year.Year}}</option>
        </select>
    </div>
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-6">

            <div id="c_chart"></div>

        </div>
        <div *ngIf="userTypeValue === 'Professor'" class="col-6">

            <div id="p_chart"></div>

        </div>
        <div *ngIf="userTypeValue === 'TA'" class="col-6">
           
            <div [id]="TAId"></div>

        </div>
    </div>
    <div class="row" style="margin-bottom: 50px;" *ngIf="userTypeValue === 'Professor'">
       <div  *ngFor="let id of TAsIds"  class="col-6">
        <div [id]="id"></div>
       </div>

       
    </div>
</div>