<h4>Statistics about Departments</h4>
    <div class="row">
        <div class="col-4">
            <div class="stat_card">
                <h5>Number of students in each department</h5>
                <div id="pie_chart"></div>
            </div>
        </div>
        <div class="col-4">
            <div class="stat_card">
                <h5>GPA distrbution in CS</h5>
                <div id="chart1"></div>
            </div>
        </div>
        <div class="col-4">
            <div class="stat_card">
                <h5>GPA distrbution in IS</h5>
                <div id="chart2"></div>
            </div>
        </div>
    </div>
    <div  class="row">
    
        <div *ngFor="let departmentData of histogramData" class="col-4">
            <div class="stat_card">
              <h5>GPA distribution in {{departmentData.department}} Department</h5>
              <div [id]="'chart-' + departmentData.department"></div>
              <!-- <div id="IS"></div> -->
            </div>
          </div>
    </div>