<div class="alert alert-danger" *ngIf="flag===false">
   Error: please insert office hours data or invalid office houre time
  </div>
  <div class="alert alert-success" *ngIf="flag===true">
    Office Hours Added Successfully.
  </div>
<div class="container">
    <br>
    
      <div class="breadcrumb">
        <a  (click)="navigateToHome()" class="navigate" style="cursor: pointer;">Home</a>
        <p> / Add Office Hours</p>
     </div>
    <h2 style="font-weight: bold;">Add Office Hours</h2><br>

    <div>
        <form >
            <ng-container *ngFor="let officeHour of officeHours; let i = index">

            <div >
                <div class="row">
                  <div class="form-group col-md-6">
                    <label>Office Hours Start at:</label>
                    <input type="time" [(ngModel)]="officeHours[i].startTime" name="startTime{{i}}" class="form-control" required>
                  </div>
                  <div class="form-group col-md-6">
                    <label>Office Hours End at:</label>
                    <input type="time" [(ngModel)]="officeHours[i].endTime" name="endTime{{i}}" class="form-control" required>
                  </div>
                </div>
                <div class="row">
                <div class="form-group col-md-6">
                    <label>Location</label>
                    <input [(ngModel)]="officeHours[i].location" name="location{{i}}" type="text" class="form-control" id="location" placeholder="ex: TAs room at New Building, second floor." required>
                  </div>
                  <div class="form-group col-md-6">
                    <label>Day</label>
                    <select required [(ngModel)]="officeHours[i].Day" name="Day{{i}}" #day class="form-select" aria-label="Default select example" (change)="updateDay(i, day.value)" required>
                      <option value="default">choose place</option>
                      <option *ngFor="let day of weekdays" [value]="day">{{day}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <br>
            </ng-container>
              
              <button (click)="addOfficeHour()" class="btn btn-primary">Add Another Office Hour</button>
              
            <div class="text-center">
                <button (click)="submit()" type="submit" class="btn btn-primary text-center">Submit</button>
            </div>
            
          </form>
    </div>
</div>
