<br><br>
<div class="alert alert-danger" *ngIf="response2 === true">
    {{message}}
  </div>
  <div class="alert alert-success" *ngIf ="response === true">
    {{message}}.
  </div>
<div class="container">
    <br><br>
    <h2 *ngIf="userType != 'Admin'" style="font-weight: bold;">Graduation Project Requests</h2><br>
    <h2 *ngIf="userType == 'Admin'" style="font-weight: bold;">Accepted Graduation Projects</h2><br>
    <div class="request_card" *ngFor="let d of gpRequests">
        <div *ngIf="showData">
            <h5>Team Members</h5>
            <div class="row">
                <div class="col-2" >
                    <a (click)="navigateToStudent(d.member1)">{{d.member1}}</a>
                    <a style="margin-left: 15px;" (click)="navigateToStudent(d.member2)">{{d.member2}}</a>
                    <a style="margin-left: 15px;" (click)="navigateToStudent(d.member3)">{{d.member3}}</a>
                    <a style="margin-left: 15px;" (click)="navigateToStudent(d.member4)">{{d.member4}}</a>
                    <a style="margin-left: 15px;"  (click)="navigateToStudent(d.member5)">{{d.member5}}</a>
                </div>
            </div><br>
            <h5 >Supervised by</h5>
            <div  *ngIf="userType != 'Admin'" class="row">
                <div class="col-6">Requested Professor: {{d.professorName}}</div>
                <div class="col-6">Requested Teaching Assistant: {{d.TAName}}</div>
            </div>
            <div  *ngIf="userType == 'Admin'" class="row">
                <div class="col-6">Professor: {{d.professorName}}</div>
                <div class="col-6">Teaching Assistant: {{d.TAName}}</div>
            </div><br>

            <h5>Graduation Project Idea</h5>
            <div class="row">
                <p> {{d.idea}} </p>
            </div><br>
            <h5>Graduation Project Requirements</h5>
            <div class="row">
                <p>{{d.requirements}}</p>
            </div>
           

            <div *ngIf="userType != 'Admin'" class="d-flex justify-content-center">
                <button class="btn btn-primary button" style="margin-left: -100px;" (click)="acceptGp(d.id)">Accept</button>
                <button class="btn btn-danger button" style="margin-left: 100px; background-color: rgb(180, 50, 50);" (click)="rejectGp(d.id)">Reject</button>
            </div>
        </div>
       
    </div>

   
</div> 
