<div class="container">
    <div class="breadcrumb">
        <a  (click)="navigateToHome()" class="navigate" style="cursor: pointer;">Home </a>
        <a  (click)="navigateToregisterdCoursesAndResults()" class="navigate" style="cursor: pointer;"> / registered Courses And Results</a>
        <a  (click)="navigateToRegisterCourse()" class="navigate" style="cursor: pointer;"> / register course</a>
        <p > / student Group Selection</p>
     </div>
   
    <div class="alert alert-danger" *ngIf="!noConfilect.message&&flag">
        <strong>Error!</strong> there is conflict check the slot time or you alredy have registered .
    </div>
    <div class="alert alert-success" *ngIf="noConfilect.message&&flag">
        <strong>Register Successfully</strong> 
    </div>
    <!-- <ng-container *ngFor="let i of courseDataArray">
       <p> {{i.selectedGroup}}</p>
    </ng-container> -->
    <form  >
        <table class="table table-hover table-striped ">
            <thead>
                <tr style="background-color: #3E8DE3; color:white; ">
                    <th>Code</th>
                    <th>Subject Name</th>
                    <th>Lecture</th>
                    <th>Group</th>
    
                </tr>
            </thead>
            <tbody>
                <tr  *ngFor="let courses of apiResponseArrayCourse ; let i = index ">
                   
        
                            <ng-container *ngFor="let course of courses ">
                            <td>{{course.Course_Code}}</td>
                            <td>{{course.courseName}}</td>
                            <td>{{course.slotDay}}</td>
                            <td>
                                
                                <select  #groupSelect (change)="saveSelectedGroup(course, groupSelect.value,StudentData[0].studentId)" >
                                    <option  value="default" >--</option>
                                    
                                    <ng-container  *ngFor="let groups of apiResponseArrayGroup  ; let x = index ">
                                        <ng-container *ngFor="let group of groups   ">
                                   
                                    <option [value]="group.groupNumber " *ngIf="i===x" >{{group.groupNumber}}
                                        <!-- <p class="remaining" style="font-size: smaller; color: red;" >Remaining Places  {{group.groupCount-1}}</p> -->
                                    </option>
                                    
                                </ng-container> 
                                
                            </ng-container>
                                </select>
                                
                            
                            </td>
                </ng-container>
                
            </tr>
            </tbody>
        </table>
    

        <div class="col-3"><button class="btn btn-primary"
                style=" border:none; background-color: #3E8DE3; color:white;"(click)="saveData()" >Save</button>
        </div>
</form>

</div>