<div class="container">
    <br><br>
    <h2 style="font-weight: bold;">Add Course</h2><br>
    
    <form>
        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <label for="courseName">Course Code</label>
                    <input type="text" class="form-control" id="courseCode" name="courseCode" placeholder="Enter course code">
                  </div>
            </div>
            <div class="col-9">
                <div class="form-group">
                    <label for="courseName">Course Name</label>
                    <input type="text" class="form-control" id="courseName" name="courseName" placeholder="Enter course name">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="currentSemester">Current Semester</label>
                    <select class="form-control" id="currentSemester" name="currentSemester">
                      <option>First</option>
                      <option>Second</option>
                      <option>Summer</option>
                    </select>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="year"> Current Year</label>
                    <input type="number" class="form-control" id="year" name="year" placeholder="Enter year">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="professor">Professor 1 </label>
                    <select #professors (change)="SelectProf1(professors.value)" class="form-control" id="professor" name="professor">
                        <option  value="" disabled selected>Professor 1</option>
                        <option *ngFor="let prof of Professors" [value]="prof.profID">{{prof.proessorName}}</option>
                    </select>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="professor">Professor 2 </label>
                    <select #professors (change)="SelectProf2(professors.value)" class="form-control" id="professor" name="professor">
                        <option  value="" disabled selected>Professor 2</option>
                        <option *ngFor="let prof of Professors" [value]="prof.profID">{{prof.proessorName}}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="ta"> Number of Teaching Assistants</label>
                    <input type="number" class="form-control" id="ta" name="ta" placeholder="Enter number of teaching assistants">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <!-- we still need an ngFor here -->
                <div class="form-group">
                    <label for="teachingAssistant">Teaching Assistant</label>
                    <select class="form-control" id="teachingAssistant" name="teachingAssistant">
                      <option>TA 1</option>
                      <option>TA 2</option>
                      <option>TA 3</option>
                    </select>
                  </div>
            </div>
        </div>

        <div class="d-flex justify-content-center" style="margin-top: 10px;">
            <button type="submit" class="btn btn-primary button">Add Couse</button>
        </div>  

      </form>
</div>