<div class="container">
    <div class="breadcrumb">
      <a  (click)="navigateToHome()" class="navigate">Home </a>
      <a  (click)="navigateToAdmin_options()" class="navigate"> / Admin Options</a>
      <p > / Add Course</p>
   </div>
    <h2 style="font-weight: bold;">Add Course</h2><br>
    
      <div class="alert alert-danger" *ngIf="flag===false">
        Error: please insert All Course information or invalid lecture time 
      </div>
      <div class="alert alert-success" *ngIf="flag===true">
        Course Added Successfully.
      </div>
    
    
    <form [formGroup]="form" (ngSubmit)="supmit(form)">
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label for="courseName">Course Name</label>
                    <input type="text" formControlName="course_name" class="form-control" placeholder="Enter course name">
                </div>
            </div>

            <div class="col-4">
                <div class="form-group">
                    <label for="courseName">Course Code</label>
                    <input type="text" formControlName="course_code" class="form-control" placeholder="Enter course code">
                  </div>
            </div>
            <!-- <div class="col-3">
                <div class="form-group">
                   
                    <label for="courseName">Course ID</label>
                    <input type="text" formControlName="course_ID" class="form-control" placeholder="Enter course code">
                  </div>
            </div> -->
            <div class="col-4">
                <div class="form-group">
                   
                    <label for="courseName">Department Code</label>
                    <select #dep  formControlName="department_code" class="form-select" aria-label="Default select example">
                        <option value="default">choose Department Code</option>
                        <option *ngFor="let d of departments" [value]="d.departmentCode">{{d.departmentCode}}</option>
                      </select>
                  </div>
            </div>
           
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label for="ta"> CreditHours</label>
                    <input type="number" formControlName="credit_hours" class="form-control" placeholder="Enter creditHours">
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="ta"> Number of Groups</label>
                    <input type="number" formControlName="num_of_groups" class="form-control" placeholder="Enter number of teaching assistants">
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="type">Type</label>
                    <select #Type formControlName="type" aria-label="Default select example" class="form-control">
                      <option value="mandatory">mandatory</option>
                      <option value="optional">optional</option>
                      
                    </select>
                  </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label  for="currentSemester">Current Semester</label>
                    <select aria-label="Default select example" class="form-control" #semster formControlName="semester">
                      <option value="First">First</option>
                      <option value="Second">Second</option>
                      <option value="Summer">Summer</option>
                    </select>
                </div>
            </div>
            <!-- <div class="col-4">
                <div class="form-group">
                    <label for="currentYear"> Current Year</label>
                    <input type="number" formControlName="year" class="form-control" placeholder="Enter current year">
                </div>
            </div> -->
            <div class="col-6">
                <div class="form-group">
                    <label for="Level"> Level</label>
                    <select #level aria-label="Default select example" class="form-control" formControlName="level">
                        <option value="First Level">First Level</option>
                        <option value="Second Level">Second Level</option>
                        <option value="Third Level">Third Level</option>
                        <option value="Fourth Level">Fourth Level</option>
                      </select>
                </div>

            </div>
        </div>

       
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    {{professor1}}
                   
                    <label for="courseName">Professor 1</label>
                    <select #prof1  formControlName="professor1" class="form-select" aria-label="Default select example">
                        <option value="">choose Professor</option>
                        <option *ngFor="let p of professors" [value]="p.professorId">{{p.professorName}}</option>
                      </select>
                  </div>
            </div>
            <div class="col-6">
               {{professor2}}
                <div class="form-group">
                    <label for="courseName">Professor 2</label>
                    <select #prof2  formControlName="professor2" class="form-select" aria-label="Default select example">
                        <option value="">choose Professor</option>
                        <option *ngFor="let p1 of professors" [value]="p1.professorId">{{p1.professorName}}</option>
                      </select>
                  </div>
            </div>
           
        </div>
       

       
        

        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <label for="ta">Lecture1 Day</label>
                    <select aria-label="Default select example" #day1 class="form-select" formControlName="slot_day1" aria-label="Default select example">
                        <option value="default">choose Day</option>
                        <option *ngFor="let day of weekdays" [value]="day">{{day}}</option>
                    </select>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="ta">Lecture1 Start Time</label>
                    <input type="time" formControlName="start_time1" class="form-control" placeholder="0:00">
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="ta"> Lecture1 End Time</label>
                    <input type="time" class="form-control" formControlName="end_time1" placeholder="0:00">
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="teachingAssistant">Lecture1 Place</label>
                    <input type="text" class="form-control" formControlName="slot_place1" placeholder="Enter place of lecture 1">
                  </div>
            </div>
        </div>


        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <label for="ta">Lecture2 Day</label>
                    <select #day2 aria-label="Default select example" formControlName="slot_day2"  class="form-select" aria-label="Default select example">
                        <option value="default">choose Day</option>
                        <option *ngFor="let day of weekdays" [value]="day">{{day}}</option>
                    </select>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="ta">Lecture2 Start Time</label>
                    <input type="time" class="form-control" formControlName="start_time2" placeholder="0:00">
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="ta"> Lecture2 End Time</label>
                    <input type="time" class="form-control" formControlName="end_time2" placeholder="0:00">
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="teachingAssistant">Lecture2 Place</label>
                    <input type="text" class="form-control" formControlName="slot_place2" placeholder="Enter place of lecture 2">
                  </div>
            </div>
        </div>


        <div class="d-flex justify-content-center" style="margin-top: 10px;">
            <button type="submit" class="btn btn-primary button">Add Couse</button>
        </div>
    </form>
</div>