<div class="container" p-5>
    <br>
    <div class="breadcrumb">
      <a  (click)="navigateToHome()" class="navigate">Home</a>
      <p > /Exam Halls</p>
   </div>

    <h2 style="font-weight: bold;">Exam Halls</h2><br>
   <input class="form-control" type="text"  placeholder="Search" [(ngModel)]="searchText"><br>
   
    <table class="table table-hover table-striped">
        <thead>
            <tr style="background-color: #3E8DE3; color:white;" >
                <th>Code</th>
                <th>Subject Name</th>
                <th>Exam Hall</th>    
                <th>Student Number</th>
               
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let d of ExamHall_Info | officeHoursSearch:searchText">
                <td>{{d.Subject_code}}</td>
                <td>{{d.Subject_name}}</td>
                <td>{{d.Exam_Hall}}</td>
                <td>{{d.Student_number}}</td>
                
            </tr>
        </tbody>
    </table>
    
  

</div>
