<br><br>
<div class="w-75 mx-auto">
<h2 style="font-weight: bold;"> Forgot Password</h2>
<form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
  <!-- <div *ngIf="errors != null" class="alert alert-danger mt-3">
    {{ errors }}
</div>
<div *ngIf="successMsg != null" class="alert alert-primary mt-3">
  {{ successMsg?.message }}
</div> -->
<div class="alert alert-danger" *ngIf="error">{{error}}</div>
<div class="alert alert-primary" *ngIf="successMsg">{{successMsg}}</div>
    <!-- <div class="mb-3">
      <label for="id">ID</label>
      <input formControlName="id" class="form-control mb-2" type="id"   placeholder="Enter Your ID">
      <div *ngIf="forgotPasswordForm.get('id')?.errors && forgotPasswordForm.get('id')?.touched">
        <p *ngIf="forgotPasswordForm.get('id')?.getError('required')" class="alert py-1 alert-danger">ID is required</p>
  
        <p *ngIf="forgotPasswordForm.get('id')?.getError('pattern')" class="alert  py-1 alert-danger">Invalid ID</p>
        
        </div>
    </div> -->
    <div class="mb-3">
      <label for="email">Email</label>
      <input  formControlName="email" class="form-control  mb-2" type="email" placeholder="Enter Your Email"/>
      
      <div *ngIf="forgotPasswordForm.get('email')?.errors && forgotPasswordForm.get('email')?.touched">
      <p *ngIf="forgotPasswordForm.get('email')?.getError('required')" class="alert py-1 alert-danger">Email is required</p>

      <p *ngIf="forgotPasswordForm.get('email')?.getError('pattern')" class="alert  py-1 alert-danger">Invalid Email </p>
      
      </div>
      


    </div>
   

    <button  [disabled]="forgotPasswordForm.invalid" type="submit" class="btn btn-primary" style=" border:none; background-color: #3E8DE3; color:white;">Send</button>
    
      

   
  </form>
</div>