<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
   
</head>

<body class="container">
    <div class="firstComponent">
        <h1 class="childFirst ">Announcements</h1>
       
        <button class="childFirst top50 " style=" margin-left: auto;"><i class="bi bi-trophy"></i><a  (click)="navigateToTop50()">View Top 50</a>  </button>
    </div>
    <div class="AnnounsmentComponent" style="padding-right: 27px;">


        <div style=" width: 400px; margin-left: 67%; margin-top: -30px;">
           
            <div class="input-group date" id="datepicker">
                <input type="text" class="form-control" id="date" placeholder="Search" style="margin-top: 50px;" [(ngModel)]="searchText" />
                
            </div>
        
        </div>
        <br>
        <table id="example" class="table">
            <tr *ngFor="let ann of Announcemets | SearchService:searchText" (click)="selectAnnouncement(ann)" class="table-row">
              <td>
                <h4 *ngIf="ann.isOpened == '0'" [innerHTML]="ann.announcmentTitle" style="font-weight: bold;"></h4>
                <h4 *ngIf="ann.isOpened == '1'" [innerHTML]="ann.announcmentTitle"></h4>
                <div *ngIf="selectedAnnouncement === ann" [innerHTML]="ann.content"></div>
              </td>
              <td>
                <p class="dateFont">{{ ann.created_at }}</p>
              </td>
              
            </tr>
          </table>
          

    </div>
</body>
</html>