<app-nav-bar-component></app-nav-bar-component>
<!-- <app-info-bar></app-info-bar> -->

<div class="container">
    <router-outlet></router-outlet>
</div>

<!-- <app-forget-password-component></app-forget-password-component> -->
<!-- <app-office-hours-component></app-office-hours-component> -->
<!-- <app-login-component></app-login-component> -->
<!-- <app-rest-passward-component></app-rest-passward-component> -->
<!-- <app-registerd-courses-and-results></app-registerd-courses-and-results> -->

