<!-- <!DOCTYPE html> -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
<p style="font-weight:bolder;margin-left:20px;margin-top:50px; font-size: xx-large;">Welcome to FCAI Community</p>
<div class="container" >
    <div class="General" style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; ">
        <div class="parent" >
            <a (click)="navigateToRegisterdCoursesAndResults()" class="child" >
                <i class="bi bi-book" style="font-size:6rem ; color: white;"></i>
                <a class="Ann" (click)="navigateToRegisterdCoursesAndResults()" >Registered Courses & Result</a>
            </a>
            <a (click)="navigateToScheduale()" class="child" style="margin-left: 60px;" >
                <i class="bi bi-table" style="font-size:6rem ; color: white;"></i>
                <a class="Ann" (click)="navigateToScheduale()"><br> My Schedule</a>
            </a>
            
            <a (click)="navigateToExamHalls()" class="child" style="margin-left: 60px;" >
                <i class="bi bi-table" style="font-size:6rem ; color: white;"></i>
                <a class="Ann" (click)="navigateToExamHalls()">Exam Halls</a>
            </a>
            <!-- <a (click)="navigateToAnnoucements()" class="child" >
                <i class="bi bi-chat-left-text-fill" style="font-size:8rem ; color: white;"></i>
                <a class="Ann" routerLink="Announcements" (click)="navigateToAnnoucements()"  >Announcements</a>
            </a>
           
            <a (click)="navigateToChat()" class="child" style="margin-left: 60px; text-align: center;">
                <i class="bi bi-chat" style="font-size:8rem ; color: white;"></i>
                <a class="Ann" (click)="navigateToChat()" >Chat</a>
            </a>
            <a (click)="navigateToOfficeHours() " class="child" style="margin-left: 60px;" >
                <i class="bi bi-clock" style="font-size:8rem ; color: white;"></i>
                <a class="Ann" (click)="navigateToOfficeHours() ">Office Hours</a>
            </a> -->
           
        </div>
    </div>
    <div class="Special" style="margin-top: 10px;margin-bottom: 60px;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; " >
        <div class="parent" style="margin-bottom: 60px;">

            <a (click)="navigateToAnnoucements()" class="child" >
                <i class="bi bi-chat-left-text-fill" style="font-size:6rem ; color: white;"></i>
                <a class="Ann" routerLink="Announcements" (click)="navigateToAnnoucements()"  >Announcements</a>
            </a>
           
            <a (click)="navigateToChat()" class="child" style="margin-left: 60px; text-align: center;">
                <i class="bi bi-chat" style="font-size:6rem ; color: white;"></i>
                <a class="Ann" (click)="navigateToChat()" >Chat</a>
            </a>
            <a (click)="navigateToOfficeHours() " class="child" style="margin-left: 60px;" >
                <i class="bi bi-clock" style="font-size:6rem ; color: white;"></i>
                <a class="Ann" (click)="navigateToOfficeHours() ">Office Hours</a>
            </a>


            <!-- <a (click)="navigateToRegisterdCoursesAndResults()" class="child" >
                <i class="bi bi-book" style="font-size:8rem ; color: white;"></i>
                <a class="Ann" (click)="navigateToRegisterdCoursesAndResults()" >Registered Courses & Result</a>
            </a>
            <a (click)="navigateToScheduale()" class="child" style="margin-left: 60px;" >
                <i class="bi bi-table" style="font-size:8rem ; color: white;"></i>
                <a class="Ann" (click)="navigateToScheduale()"><br> My Schedule</a>
            </a>
            
            <a (click)="navigateToExamHalls()" class="child" style="margin-left: 60px;" >
                <i class="bi bi-table" style="font-size:8rem ; color: white;"></i>
                <a class="Ann" (click)="navigateToExamHalls()">Exam Halls</a>
            </a> -->
           
        </div>
    </div>
</div>
</body>
</html>