<!-- test from sarah essam -->
    
<div *ngIf="isLog"  class="navbar navbar-expand-sm" >
    
        <div class="col border-between-columns"><p ><label>ID:</label>{{StudentData[0].studentId}}</p></div>
        <div class="col border-between-columns" ><p><label>Name:</label>{{StudentData[0].studentName}}</p></div>
        <div class="col border-between-columns"><p><label >GPA:</label>{{StudentData[0].GPA}}</p></div>
        <div class="col border-between-columns"><p><label >Program:</label>{{StudentData[0].departmentCode}}</p></div>
        <div class="col border-between-columns"><p><label >Level:</label>{{StudentData[0].level}}</p></div>
    

        
</div>
     
      
