<br><br>
<div class="w-75 mx-auto">
<h2 style="font-weight: bold;">Change Password</h2>
<form [formGroup]="ChangePassword">
    <div class="mb-3">
        <label for="newPassword">Old Password</label>
        <input formControlName="newPassword" class="form-control mb-2" 
        type="password" placeholder="Enter Your Old Password">   
    
      </div>
    <div class="mb-3">
      <label for="newPassword">New Password</label>
      <input formControlName="newPassword" class="form-control mb-2" 
      type="password" placeholder="Enter Your New Password">   
      <app-password-strength [passwordToCheck]="ChangePassword.value.password"></app-password-strength>
      

      <div *ngIf="ChangePassword.get('newPassword')?.errors && ChangePassword.get('newPassword')?.touched">
        <p *ngIf="ChangePassword.get('newPassword')?.getError('required')" class="alert py-1 alert-danger">newPassword is required</p>
  
        <p *ngIf="ChangePassword.get('newPassword')?.getError('pattern')" class="alert  py-1 alert-danger">Password requirements: 3 to 8 characters, and  3 to 5 numbers.</p>
        
        </div>
    </div>
    <div class="mb-3">
      <label for="confirmPassword">Confirm Password</label>
      <input formControlName="confirmPassword" class="form-control mb-2" type="password" placeholder="Enter Your Confirm Password"  >
      
      <!-- <div *ngIf="ChangePassword.get('confirmPassword')?.errors && ChangePassword.get('confirmPassword')?.touched">
        <p *ngIf="ChangePassword.get('confirmPassword')?.getError('required')" class="alert py-1 alert-danger">Confirm Password is required</p>
  
        <p *ngIf="ChangePassword.get('confirmPassword')?.getError('pattern')" class="alert  py-1 alert-danger">Password doesn't match</p>
        
        </div> -->
        <div *ngIf="ChangePassword.get('confirmPassword')?.errors && ChangePassword.get('confirmPassword')?.touched">
          <p *ngIf="ChangePassword.get('confirmPassword')?.getError('required')" class="alert py-1 alert-danger">Confirm Password is required</p>
          <!-- <p *ngIf="ChangePassword.get('confirmPassword')?.getError('pattern')" class="alert  py-1 alert-danger">Password doesn't match</p> -->
          <p *ngIf="passwordMatchError" class="alert  py-1 alert-danger">Password doesn't match</p>
          
          </div>
         <!-- <div *ngIf="passwordMatchError">
        <p *ngIf="ChangePassword.get('confirmPassword')?.getError('required')" class="alert py-1 alert-danger">Confirm Password is required</p>
  
        <p *ngIf="ChangePassword.get('confirmPassword')?.getError('pattern')" class="alert  py-1 alert-danger">Password doesn't match</p>
        
        </div> -->
        <!-- <div *ngIf="passwordMatchError">
          Password does not match
        </div> -->

      
    </div>

    <button  [disabled]="ChangePassword.invalid && passwordMatchError" class="btn btn-primary">Change</button>
    <!-- <app-password-strength [passwordToCheck]="ChangePassword.value.password"></app-password-strength> -->
      

   
  </form>
</div>