<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Document</title> -->
    <script>
        $(function(){
        $('#datepicker').datepicker();
        });
    </script>
</head>
<body>
    <div class="breadcrumb">
        <a  (click)="navigateToHome()" class="navigate">Home </a>
        <p > / Profile</p>
     </div>
    
<h1 style="margin-top: 50px; margin-bottom: 30px; font-weight: bolder;">Profile</h1>
<div class="alert alert-success" *ngIf="flag === true">
    <strong>Updated Successfully</strong> 
</div>
<form action="/action_page.php"  class="form">
    <label >ID</label><br>
    <input type="text" id="id" name="id" value={{StudentData[0].studentId}} class="disabled" disabled><br><br>

    
    <label >Name</label><br>
    <input type="text" id="EName" name="EName" value={{StudentData[0].studentName}}  ><br><br>

    <label >Status</label><br>
    <input type="text" id="Status" name="Status" value={{StudentData[0].Status}} class="disabled"disabled><br><br>

    <label >Level</label><br>
    <input type="text" id="Level" name="Level" value={{StudentData[0].level}} class="disabled"disabled><br><br>

    <label >Bylaw</label><br>
    <input type="text" id="Bylaw" name="Bylaw" value={{StudentData[0].bylaw}} class="disabled"disabled><br><br>
    
    <label >Program</label><br>
    <input type="text" id="Program" name="Program" value={{StudentData[0].departmentCode}} class="disabled"disabled><br><br>
    
    <label >Address</label><br>
    <input type="text" id="Address" name="Address" value={{StudentData[0].address}} ><br><br>
    
    <label >Phone</label><br>
    <input type="text" id="Phone" name="Phone" value={{StudentData[0].phone}} ><br><br>
    
    <label >Mobile</label><br>
    <input type="text" id="Mobile" name="Mobile" value={{StudentData[0].mobile}} ><br><br>

    <label >Entry Year</label><br>
    <input type="text" id="Entry Year" name="Entry Year" value={{StudentData[0].Entry_year}} disabled><br><br>

    <label >Email</label><br>
    <input type="text" id="Email" name="Email" value={{StudentData[0].email}} ><br><br>

    <label >GPA</label><br>
    <input type="text" id="GPA" name="GPA" value={{StudentData[0].GPA}} disabled><br><br>

    <label >Total</label><br>
    <input type="text" id="total" name="total grade" value={{StudentData[0].total_grades}} disabled ><br><br>
    
    <label >Gender</label><br>
    <input type="text" id="gender" name="gender" value={{StudentData[0].gender}} disabled><br><br>
    
    


    <label >First Language </label><br>
    <input type="text" id="First Language" name="First Language"  value={{StudentData[0].first_language}}><br><br>

    <label >Second Language</label><br>
    <input type="text" id="Second Language" name="Second Language"  value={{StudentData[0].second_language}}><br><br>

    <label >National Id</label><br>
    <input type="text" id="National Id" name="National Id"   value={{StudentData[0].nationalId}} class="disabled" disabled><br><br>
    
    <label >Nationlity</label><br>
    <input type="text" id="Nationlity" name="Nationlity"   value={{StudentData[0].nationality}} class="disabled" disabled><br><br>

    <label >Birth Place</label><br>
    <input type="text" id="Birth Place" name="Birth Place"   value={{StudentData[0].birth_place}} class="disabled" disabled><br><br>
   
    <label >Birth Date</label><br>
    <input type="date" id="data" name="birthday" value={{StudentData[0].birthdate}}><br><br>

    <label >Country</label><br>
    <input type="text" id="Country" name="Country" class="disabled"  value={{StudentData[0].country}} disabled><br><br>

    <label >Compulsory Hours</label><br>
    <input type="text" id="compulsoryHours" name="compulsoryHours"   value={{StudentData[0].Compulsory_Hours}}  class="disabled"disabled><br><br>
    
    <label >Elective Hours</label><br>
    <input type="text" id="electiveHours" name="electiveHours"   value={{StudentData[0].electrive_hours}} class="disabled" disabled><br><br>
    
    <button type="button" class="btn btn-primary" style="margin-left: 44%;" (click)="onSubmit() ">Submit</button>
   
    
  </form>

</body>
</html>


