<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Document</title> -->
    <script>
        $(function(){
        $('#datepicker').datepicker();
        });
    </script>
</head>
<body>
    
<h1 style="margin-top: 50px; margin-bottom: 30px; font-weight: bolder;">Profile</h1>
<form action="/action_page.php"  class="form">
    <label >ID</label><br>
    <input type="text" id="id" name="id" value="20190001" class="disabled" disabled><br><br>
    <label >Name</label><br>
    <input type="text" id="Aname" name="Aname" value="شيماء رضا سعيد" class="disabled" disabled><br><br>
    <label >English Name</label><br>
    <input type="text" id="EName" name="EName" value="Shimaa Reda Saeed" ><br><br>
    <label >Status</label><br>
    <input type="text" id="Status" name="Status" value="مقيد" class="disabled"disabled><br><br>
    <label >Level</label><br>
    <input type="text" id="Level" name="Level" value="Fourth Level" class="disabled"disabled><br><br>
    <label >Bylaw</label><br>
    <input type="text" id="Bylaw" name="Bylaw" value="General Program(2018)" class="disabled"disabled><br><br>
    <label >Program</label><br>
    <input type="text" id="Program" name="Program" value="Information Systems" class="disabled"disabled><br><br>
    <label >Address</label><br>
    <input type="text" id="Address" name="Address" value="حلوان" ><br><br>
    <label >Phone</label><br>
    <input type="text" id="Phone" name="Phone" value="0238440000" ><br><br>
    <label >Mobile</label><br>
    <input type="text" id="Mobile" name="Mobile" value="01115555555" ><br><br>

    <label >Entry Year</label><br>
    <input type="text" id="Entry Year" name="Entry Year" value="2019"><br><br>
    <label >Email</label><br>
    <input type="text" id="Email" name="Email" value="shimaa@gmail.com" ><br><br>
    <label >GPA</label><br>
    <input type="text" id="GPA" name="GPA" value="3.5" ><br><br>
    <label >Total</label><br>
    <input type="text" id="total" name="total grade" value="2327" ><br><br>

    <label >Gender</label><br>
    <input type="radio" name="gender" value="HTML" >Male
    <input type="radio" name="gender" value="CSS" style="margin-left: 80px;">Female <br><br>

    <label >Highschool</label><br>
    <input type="text" id="Highschool" name="Highschool"  class="disabled"disabled><br><br>
    <label >Highschool Percentage Grade</label><br>
    <input type="text" id="Highschool Percentage Grade" name="Highschool Percentage Grade" class="disabled" disabled><br><br>

    <label >First Language </label><br>
    <input type="text" id="First Language" name="First Language"  value="Arabic"><br><br>
    <label >Second Language</label><br>
    <input type="text" id="Second Language" name="Second Language"  value="English"><br><br>

    <label >National Id</label><br>
    <input type="text" id="National Id" name="National Id"   value="*****************************" class="disabled" disabled><br><br>
    <label >Nationlity</label><br>
    <input type="text" id="Nationlity" name="Nationlity"   value="مصرى" class="disabled" disabled><br><br>

    <label >Birth Place</label><br>
    <input type="text" id="Birth Place" name="Birth Place"   value="الجيزه" class="disabled" disabled><br><br>
    <label >Birth Date</label><br>
    <input type="date" id="data" name="birthday"><br><br>

    <label >Country</label><br>
    <input type="text" id="Country" name="Country" class="disabled" disabled><br><br>
    <label >Compulsory Hours</label><br>
    <input type="text" id="compulsoryHours" name="compulsoryHours"   value="90"  class="disabled"disabled><br><br>
    <label >Elective Hours</label><br>
    <input type="text" id="electiveHours" name="electiveHours"   value="9"class="disabled" disabled><br><br>
    <button type="button" class="btn btn-primary" style="margin-left: 44%;">Submit</button>
   
    
  </form>

</body>
</html>


