<div class="container">
    <br>
    <div class="breadcrumb">
        <a  (click)="navigateToHome()" class="navigate" style="cursor: pointer;">Home</a>
        <p > / Dashboards</p>
     </div>

    <h2 style="font-weight: bold;">Dashboard</h2><br>
    <p>Please click one button to show statistics</p>
    <button class="btn btn-primary button" (click)="  showDepartment()">Statistics about Departments</button>
    <button class="btn btn-primary button" (click)="showCourses()">Statistics about Courses</button>
    <br><br>

    <section *ngIf="showDept">
       <app-statistics-department></app-statistics-department> 
    </section>

    <section *ngIf="showCors">
        <app-statistics-courses></app-statistics-courses>
    </section>
</div>