<div class="container">
    <br>
    <div class="breadcrumb">
      <a  (click)="navigateToHome()" class="navigate" style="cursor: pointer;">Home </a>
    
      <p > / Admin Options</p>
   </div>

    <h2 style="font-weight: bold;">Admin Options</h2><br>

    <div class="row">
        <div class="col-md-6"  style="border-right: 1px solid lightgrey">
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-primary button" style="width: 605px;" (click)="navigateToAddGrades()">Add Grades</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-primary button" style="width: 290px;" (click)="navigateToAddCourse()">Add Course</button>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-primary button" style="width: 280px;" (click)="navigateToAddGroups()">Add Sections/Labs</button>
                </div>
            </div>
            <div class="row">
             
                <div class="col-md-12">
                    <button class="btn btn-primary button" style="width: 605px;" (click)="calculatePreferences()">Calculate Program Preferences</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="d-flex justify-content-between">
                <p>Open course registration to students</p>
                <label class="switch">
                  <input type="checkbox" [checked]="registerationStatus == 1" (click)="setRegistrationStatus($event)">
                  <span class="slider round"></span>
                </label>
            </div>

          
            <div class="d-flex justify-content-between">
                <p>Open course evaluation form to students</p>
                <label class="switch">
                  <input type="checkbox" [checked]="evaluationFormStatus == 1" (click)="setEvaluationStatus($event)">
                  <span class="slider round"></span>
                </label>
              </div>

            <div class="d-flex justify-content-between">
                <p>Open specialization program selection to students</p>
                <label class="switch">
                  <input type="checkbox" [checked]="programSelectionStatus == 1" (click)="setSelectionStatus($event)">
                  <span class="slider round"></span>
                </label>
            </div>

            <div class="d-flex justify-content-between">
                <p>Open graduation project form to students</p>
                <label class="switch">
                  <input type="checkbox" [checked]="gpFormStatus == 1" (click)="setGPFormStatus($event)">
                  <span class="slider round"></span>
                </label>
            </div>

        </div>
    </div>
</div>