<p style="font-weight:bolder;margin-left:20px;margin-top:50px; font-size: xx-large;">Welcome to FCAI Community</p>

<div class="parent" style="height: 300px;">
    
    <a (click)="navigateToAnnoucements()" class="child" >
        <i class="bi bi-chat-left-text-fill" style="font-size:8rem ; color: white;"></i>
        <a class="Ann" routerLink="Announcements" (click)="navigateToAnnoucements()"  >Announcements</a>
    </a>
    <a (click)="navigateToScheduale_Bylaw()" class="child" style="margin-left: 250px;">
        <i class="bi bi-table" style="font-size:8rem ; color: white;"></i>
        <a routerLink="Schedules_Bylaw" (click)="navigateToScheduale_Bylaw()"class="Ann" >Scheduale&Bylaw</a>
    </a>
</div>
<p style=" margin-top: 60px; font-size:x-large;">to access more functions of the website <a class="link" (click)="navigateToLogin()" style=" margin-top: 60px; font-size: larger;text-decoration: underline;  ">Login
    </a>
</p>

   <!-- <div><p>to access more functions of the website <a (click)="navigateToLogin()">Log in</a>.</p></div>   -->


