.stat_card {
    background-color: #f4f4f4;
    border-radius: 6px;
    padding: 15px;
    margin: 5px 10px 10px 5px;
    text-align: center;
}

a{
    color: #3E8DE3;
}
select{
    border-radius: 5px;
}

.button {
    border:none; 
    background-color: #3E8DE3; 
    color:white;
    padding: 4px 30px;
    margin-left: 5px;
}