<h4>Statistics about Courses</h4>
<div *ngIf="!showComparison">
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-3">
            <select #depts (change)="SelectDept(depts.value)"  style="width:300px; height:30px;" >
                <option  value="" disabled selected>Program</option>
                <option *ngFor="let dept of Departments" [value]="dept.departmentCode">
                  {{dept.departmentCode}}
                </option>
            </select>
        </div>
        <div class="col-3">
            <select #courses (change)="SelectCourse(courses.value)"  style="width:300px; height:30px;" >
                <option  value="" disabled selected>Course</option>
                <option *ngFor="let course of Courses" [value]="course.courseID">{{course.courseName}}</option>
            </select>
        </div>
        <div class="col-3">
            <!-- معرفتش المفروض احط ايه فحطيت قيمة مؤقتة لغاية ما نظبطها  -->
            <select #Year (change)="SelectYear(Year.value)"  style="width:300px; height:30px;" >
                <option  value="" disabled selected  >Year</option>
                <option *ngFor="let year of Years" [value]="year.Year">{{year.Year}}</option>
            </select>
        </div>
        <div class="col-3">
           
            <button class="btn btn-primary button"  (click)="test()">Calculate</button>
            <button class="btn btn-primary button" style="margin-left: 10px;" (click)="showComparison = true">Compare</button>
        </div>
        
      
    </div>

    <div class="row">
        <div class="col-3" style="padding: 5px;">
            <div class="stat_card">
                <h5>Number of Enrolled Students</h5>
                <div style="font-size:22px;" *ngIf="courseStat && courseStat.length > 0 ">{{courseStat[0].num_students_registered}}</div>
            </div>
            <div class="stat_card">
                <h5>Average Grades</h5>
                <div style="font-size:22px;"  *ngIf="AvgGrades && AvgGrades.length > 0 ">{{AvgGrades[0].avg_grade}}%</div>
            </div>
           
        </div>
        <div class="col-4" style="padding: 5px;">
            <div class="stat_card">
                <h5>Success Percentage</h5>
                <div id="pie_chart"></div>
            </div>
        </div>
        <div class="col-5" style="padding: 5px;">
            <div class="stat_card">
                <h5>Grades Histogram</h5>
                <div id="histogram"></div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="showComparison">
    <app-statistics-courses-compare></app-statistics-courses-compare>
</div>