<nav class="navbar navbar-expand navbar-dark" style="background-color:#143AA2; height:68px;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="assets\logo.jpeg" alt="Logo" style="width:50px;" class="rounded-pill">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" style="font-weight:bold; color: white; font-size:17px">FCAI WEBSITE</a>
          </li>

          <li class="nav-item" *ngIf="isStudent==false">
            <!-- <form class="d-flex">
              <div class="input-group flex-nowrap">
                <input class="form-control form-control-lg" name="searchQuery" 
                [(ngModel)]="searchQuery" type="search" placeholder="Search" aria-label="Search">
                <span (click)="searchUsers()" class="input-group-text"><i class="bi bi-search"></i></span>
              </div>
            </form> -->
            <form class="d-flex">
              <div class="input-group" style="width: 300px; margin-top: 3px; margin-left: 20px;">
                <input class="form-control form-control-lg" name="searchQuery" 
                [(ngModel)]="searchQuery" type="search" placeholder="Search" aria-label="Search">
                <span (click)="searchUsers()" class="input-group-text"><i class="bi bi-search"></i></span>
              </div>
            </form>
          </li>


        </ul>


        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" style="font-weight:bold; color: white;" (click)="navigateHome()">Home</a>

          </li>
          <li class="nav-item">
            <a class="nav-link" style="font-weight:bold; color: white;" routerLink="Schedules_Bylaw">Schedules</a>
          </li>
          <li class="nav-item" *ngIf="isLog===true ">
            <a class="nav-link" style="font-weight:bold; color: white;" id="navbarDropdown" role="button"
              data-mdb-toggle="dropdown" aria-expanded="false" (click)="goToProfile()"> Hi, {{name}} <i class="bi bi-person-fill"></i> </a>
          </li>
          <li class="nav-item" *ngIf="isLog===false ">
            <a class="nav-link" style="font-weight:bold; color: white;" id="navbarDropdown" role="button"
              data-mdb-toggle="dropdown" aria-expanded="false" (click)="goToProfile()"> Hi,Guest <i class="bi bi-person-fill"></i> </a>
          </li>

          <li class="nav-item" *ngIf="isLog===true " (click)="logout()">
            <a class="nav-link" style="font-weight:bold; color: white;" id="navbarDropdown" role="button"
              data-mdb-toggle="dropdown" aria-expanded="false" routerLink="home"> Logout
              <i class="bi bi-box-arrow-right"></i>
            </a>
          </li>
          <li class="nav-item" *ngIf="isLog===false " (click)="logout()">
            <a class="nav-link" style="font-weight:bold; color: white;" id="navbarDropdown" role="button"
              data-mdb-toggle="dropdown" aria-expanded="false" routerLink="login"> Login
              <i class="bi bi-box-arrow-in-right"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  
  <div class="col-md-6" *ngIf="searchResults && searchResults.length > 0">

    <div class="card-body" style="margin-left: 30%;">

      <div class="row">
        <div class="col-md-5" *ngFor="let result of searchResults">
          <div class="card" (click)="goToUserProfile(result)">
            <div class="card-body">
              <h5 class="card-title">{{ result.studentName }}</h5>
              <p class="card-text">ID: {{ result.studentId }}</p>

            </div>
          </div>
        </div>
      </div>
    </div>

</div>
